{% extends 'base.html'%}
{% block title%}Forecast{% endblock title%}
{% block body%}
<div>
    <br/><br/><br/>
                <Row>
                    <div class='col-xs-2 col-sm-4 col-md-6 col-lg-12 flex-container'>
                        
                        <div class='flex-item'>Current Soil Moisture</div>
                        <div class='flex-item'>Date</div>
                        <div class='flex-item'>28%</div>
                     
                    </div>
                    <h4 class='d-flex justify-content-center'>Predicted soil moisture</h4>
                    <div>
                        <br/>
                        <div class='box'>
                    <Table bordered hover class='table flex-item'>
                    <thead>
                        <tr>
                            
                            <th>Date</th>
                            <th>Predicted</th>
                            <th>Actual</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            
                        </tr>
                        <tr>
                            
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        
                    </tbody>
                </Table></div>
                <h1 style="text-align:center;margin:50px;color:#DBA800">Page under construction !</h1>
                    </div>
                </Row>
</div>
{% endblock body%}